.history
.lh
yolo11x-seg.pt
yolov8x-seg.pt
yolov10x.onnx
yolov10x.pt
processed_images
variations
datarealm
all_in_one_model.keras
avocado_only.keras
banana_only.keras
reconstructed_resnet.keras
